{% extends 'bootstrap/base.html' %}

{% block head %}
    {{super()}}
    <title>
        {% block title %} RTLSDR Scan |  {% endblock %}
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icono.png') }}">
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='style.css') }}">
    
{% endblock %}

    
   

{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" 
            data-dismiss="alert"
            class = "close">&times;</button>
            {{message}}
        </div>

    {% endfor %}
 

    {% block content %}

    {% endblock %}

{% endblock %}